div {
  margin: auto;
  max-width: 800px;
}

#rustyspottedcat {
  width: 100%;
  background: white;
  max-height: 400px !important;
}

th, td {
  background-color: #ffffff;
  border: 1px solid #dddddd;
}

tr:nth-child(even) {
    background-color: #dddddd !important;
}

body {
  background-color: rgba(255, 255, 125, 0);
  background-size: cover;
}

#lion {
  width: 100%;
}
textarea {
  width: 100%;
  height: 25%;
}

#entryarea {
  width: 100%;
}

#cat {
  width: 100%
}
