div {
  margin: auto;
  max-width: 800px;
}

#rustyspottedcat {
  width: 100%;
  max-height: 400px;
}

th, td {
  background-color: #ffffff;
  border: 1px solid #dddddd;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

body {
  background-image: url("bg.jpg");
  background-size: cover;
}

#lion {
  width: 100%;
}
textarea {
  width: 100%;
  height: 25%;
}

#entryarea {
  width: 100%;
}

#cat {
  width: 100%
}
